body {
	min-height: 100%;
	position: relative;
	border: 0;
	margin: 0;

	font-family: "Lato",serif;
	color: white;
	background-color: #869ba3;
}

div {
	display: block;
}

.hero {
	display: block;
	background-image: url(science_hero.jpg);
	background-size: cover;
	min-height: 250px;
	max-width: 100%;
	padding: 7px;
}

.navrow {
	display: inline-block;
	background-color: rgba(134,155,163,.5);
	width: 100%;
	margin: 0;
	padding: 7px;
}

#logo {
	display: inline-block;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	padding: 3px;
}

.science {
	margin: 0;
	margin-bottom: -8px;
	margin-left: 2px;
	font-size: 15;
	font-weight: lighter;
}

.bad {
	margin: 0;
	font-size: 35;
	font-weight: bolder;
}

.top_nav {
	float: right !important;
	display: inline-block;
	margin: auto;
	text-align: center;
}

ul {
	list-style: none;
	display: flex;
	float: left;
	position: relative;
	color: white;
}

li {
	display: block;
	line-height: 1.5;
	margin: 5;
}

a {
	text-decoration: none;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: 	#c0cbcc;
}

.introduction {
	margin: auto;
	width: 60%;
	text-align: center;
	padding: 20px 0;
}

.brand {
	margin: 10px 0;
	font-weight: bolder;
	font-size: 40px;
}

.blurb {
	margin: 10px 0;
	font-weight: bolder;
	font-size: 25px;
}

img {
	max-width: 100%;
	height:auto;
}

.content {
	display: block;
	text-align: center;
}

.container {
	margin: auto;
	text-align: center;
}

.hero_uploader {
	background-image: url(tornado-04.jpg);
	background-size: cover;
	min-height: 100%;
	max-width: 100%;
}

.fp_logo {
	display: inline-block;
	margin: 20px;
	max-height: 200px;
}

.sign_in_box {
	margin: auto;
	background-color: #869ba3;
	width: 350px;
	height: 250px;
	border-radius: 3px;

	box-shadow: 2px 2px 5px #404040;
}

.sign_in {
	color: #404040;
	font-weight: lighter;
	margin: 10px;
}

input {
	width: 90%;
	height: 35px;
	margin: 10px;
	border: 1px solid #808080;
	border-radius: 2px;
	padding: 0 8px;
}

footer {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	text-align: center;
	color: white;
	background-color: #6b8994;
	padding-bottom: 20px;
	padding-top: 20px;
	position: absolute;
	min-width: 100%;
	left: 0;
	bottom: 0;
}