body {
	border: 0;
	margin: 0;

	font-family: sans-serif;
	color: white;
}

div {
	display: block;
}

.banner {
	border: 0;
	margin: 0;
	padding: 0;

	color: white;
	background-color: #6b8994;
}

.science {
	margin-bottom: -10px;
	margin-top: 0;
	padding-left: 10px;

	font-size: 20;
	font-weight: lighter;
}

.bad {
	margin: 0;

	padding-left: 8px;
	
	font-size: 40px;
	font-weight: bolder;
}

.container {
	margin: auto;
	max-width: 800px;
}

.top_nav {
	margin: auto;
	width: 60%;
	max-height: 200px;
	text-align: center;

	border-bottom: 1px solid #ccc;

}

img {
	max-width: 100%;
	height:auto;
}

.s_nav {
	display: inline-block;
	margin-top: 30px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
}

#body {
	text-align: center;
}

#headline {
	background-image: url(tornado-04.jpg);
	background-size: cover;
	min-height: 400px;
	max-width: 100%;
}

#header {
	background-image: url(science_hero.jpg);
	background-size: cover;
	min-height: 400px;
	max-width: 100%;
}

#logo {
	border-width: 1px;
	border-color: white;
	border-style: solid;
	width: 100px;
	height: 61px;
}

footer {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	text-align: center;
	color: white;
	background-color: #6b8994;
	padding-bottom: 20px;
	padding-top: 20px;
}